<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>

<div  th:fragment="disclaimer" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="disclaimer">
                Risk Warning: The Investor confirms being aware of the speculative nature and the high risks
                associated
                with margin trading, mechanisms, characteristics and high degree of volatility of the currency
                and derivatives market.
                The Investor understands and agrees that margin trading might result in total loss of funds
                deposited as a margin and
                that consequently, only “risk” funds should be used in such trading. Anyone who does not have
                the extra capital that may
                be subject to a total loss should not trade on margin. No “safe” trading system has ever been
                devised, and no one can
                guarantee profits or freedom from loss. The Investor hereby certifies to have understood any and
                all risks related to
                the present managed account service at copytradingforex.com. Without any exceptions Traders
                assume no obligations
                with regard to any guarantee or promise of future profitable performance.
            </p>
        </div>

    </div>
</div>

</body>
</html>

