/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: Crimson Text, Arial, Tahoma, sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.gradient {
    background: rgb(3, 20, 48);
    background: linear-gradient(90deg, rgba(3, 20, 48, 0.9808298319327731) 0%, rgba(212, 183, 104, 0.9780287114845938) 100%);
}

.navbar {
    margin: 10px 10px 5px 10px;
    font-size: 15px;
    font-family: CrimsonText-SemiBold;
    src: url(../fonts/CrimsonText-SemiBold.ttf);
    font-weight: bold;
    background-color: #d4b768;
    color: #031430;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    padding: 13px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.show >ul>li>a{
    color: #d4b768;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #d4b768;
    margin: 40px 0;
}

#navbarSupportedContent>ul>li>a {
    color: #031430;
}
#navbarSupportedContent>ul>li>a:hover {
    color: white;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
    background-image: url('/images/billboard-slide-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #031430;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 22px;
    margin: 22px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 0.5px solid #d4b768;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 17px;
    font-size: 1.5em;
    text-align: center;
    display: block;
}

#sidebar ul li a:hover {
    color: #d4b768;
    text-align: center;
    text-decoration-line: underline;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #d4b768;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #d4b768;
}

ul ul a {
    font-size: 1.5rem !important;
    margin: 1px 1px 1px 1px;
    background: #031430;
}

#adding-menu ul li a {
    padding: 5px;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 2px; */
    min-height: 100vh;
    transition: all 0.3s;
    font-family: Crimson Text, Arial, Tahoma, sans-serif;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #d4b768;
    cursor: pointer;
    border-radius: 10px;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}


/*for parallax effect*/

.scene {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 190px;
}

.scene img {
    display: inline-block;
}

.scene .title_home {
    font-family: Crimson Text, Arial, Tahoma, sans-serif;
    font-size: 42px;
    letter-spacing: 2px;
    color: #fff;
    margin: 45px auto;
    line-height: 55px;
    text-align: center;
    font-weight: 600;
}

.btn_dblue {
    display: inline-block;
    padding: 14px 30px;
    background: #031430;
    font-family: Raleway, Arial, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}

.btn_dblue:hover {
    text-decoration: none;
    color: #fff;
}


.disclaimer {
    font-family: Crimson Text;
    padding: 50px 150px 50px 150px;
    background: url(../images/disclaimer.png) center no-repeat;
    background-size: 9rem;
    color: #031430;
    font-size: 16.4px;
    line-height: 18px;
    text-align: justify;
}
.footer {
    padding: 20px;
    background-color: #dfe1e6;
    text-align: center;
    color: #9d9d9d;
}
.btn-logout {
    color: #d4b768;
    font-weight: bold;
}
.btn-logout:hover {
    color: whitesmoke;
    font-weight: bold;
}
.welcome-block{
    border: solid 1px #031430;
    border-radius: 11px;
    background: #031430 ;
    color: #d4b768;
    margin-left: 15px;
    text-align: center;
}

.dropdown-menu{
    background: #d4b768;
    color: #031430;
    border-radius: 8px;
}