<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>

<body>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav th:replace="fragments/sidebar :: sidebar">
        Sidebar
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <!--        Navbar-->
        <header th:replace="fragments/navbar::navigation"></header>


        <!--Main content for every page -->

        <!--Login -->
        <section id="positions">

            <div class="container">
                <div class="row my-4">
                    <div class="col-md-11 mb-2 mx-5">
                        <h1>All positions on CopyTradingForex</h1>
                    </div>
                </div>
                <div class="row align-items-top ">
                    <div th:each="pos : ${positions}" th:object="${pos}"
                         class="my-2 col-xl-3 col-lg-4 col-md-6">
                        <div class="card">
                            <img th:src="*{pictureUrl}" class="card-img-top" alt="...come soon">
                            <div class="card-body card-text">
                                <span>Economic Indicator:</span>
                                <h5 th:text="*{economicIndicator}" class="card-title">Card title</h5>

                                <p th:text="|Position: *{trade}|"> info</p>
                                <p th:text="|Yield: *{yield} %|" > info</p>
                                <p th:text="|Trader: *{trader}|" > info</p>
                                <a th:href="@{/positions/{id}/details (id = *{id})}" class="btn btn-pos-details">Details</a>
                            </div>
                        </div>
                        <!--                        <img src="/images/invest_wisely_1.jpg" alt="Gallery imag" class="img-fluid">-->
                    </div>
                    <!--                    <div class="col-md-4"><img src="/images/invest_wisely_2.jpg" alt="Gallery imag" class="img-fluid"></div>-->
                    <!--                    <div class="col-md-4"><img src="/images/invest_wisely_3.jpg" alt="Gallery imag" class="img-fluid"></div>-->
                </div>
            </div>

        </section>

        <!--        Disclaimer-->
        <div th:replace="fragments/disclaimer :: disclaimer">Disclaimer></div>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
<!-- <div class="line"></div> -->
<div th:replace="fragments/sidebar-scripts :: sidebar-scripts">Disclaimer></div>
</body>
</html>